<div class="text-center" id={{user_id}}>
  <div class="card review-card comment">
    <div class="card-header">
      <div class="row">
        <p>{{date_created}}</p>
      </div>
    </div>
    <div class="card-body">
      <p>"{{opinion}}"</p>
    </div>
  </div>
  </br>
</div>